/* line 5, C:/Sites/demo/app/assets/stylesheets/mains.scss */
html, body {
  margin: 0;
}

/* line 9, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.all {
  width: 100%;
  height: 100%;
}

/* line 14, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.header {
  width: 100%;
  height: 20%;
  text-align: center;
  border-bottom: 1px solid black;
}

/* line 22, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.menu {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 20px;
}

/* line 29, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.menu ul {
  list-style: none;
  margin-left: 35%;
}

/* line 34, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.menu li {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* line 40, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.main {
  width: 100%;
  height: 500px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  clear: left;
}

/* line 50, C:/Sites/demo/app/assets/stylesheets/mains.scss */
.footer {
  width: 100%;
  height: 20%;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

