<div class="container" id="login-modal">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "layouts/login_form" %>
      <div id="create-btn" class="btn btn-primary btn-block">
        Create your Account
      </div>
    </div>
  </div>
</div>
