<div class="container" id="register-modal">
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "layouts/register_form" %>
      <hr>
      <span id="login-link" style="color:blue; cursor:pointer;">
        You already have an account?
      </span>
    </div>
  </div>
</div>
